.btn {

  &:hover {
  }

  &:focus {
  }

  &.primary {
    background-color: darken($primary,5%);
    color: #fff;

    &:hover {
      background-color: lighten($primary,0%);
    }
    
    &:focus {
      background-color: darken($primary,10%);
    }
  }
}