nav.navbar {
  height: $headerh;
  background: $bannerbg url(../images/DHS_logo_10.png) no-repeat -40px -40px;
  background-size: ($headerh * 1.84);
  color: $bannercolor;
  
  h3 {
    margin: 0 0 0 0;
    line-height: 45px;
    font-weight: 500;
    font-size: .85em;
    color: tint($bannerbg,40%);
  }
  
  h1 {
    margin: -0.25em 0 0 0;
    font-family: "museo_slab", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 2.2em;
    line-height: 1em;
  }
  
  .navbar-nav {
    margin: (($headerh / 2) - 22px) 0 0 0;
    line-height: 45px;
    
    .dropdown {
    
      a.dropdown-toggle {
        height: 45px;
        line-height: 45px;
        padding: 0 15px;
        background: none;
        color: $bannercolor;
        
        i {
          font-size: 1.5em;
          margin-left: 5px;
          position: relative;
          top: 0.1em;
        }
        
        &:hover {
          color: tint($bannerbg,40%);
        }
      }
      
      &.open a.dropdown-toggle {
        
        i:before {
          content: '\f106';
        }
      }
    }
  }
}
