.notices {
  
  ul {
  	padding: 5px 0;
    
    li {
      color: white;
      padding: 7px 25px 7px 50px;
      font-weight: 500;
      border-top: 1px solid rgba(white,0.075);
      
      &:first-child {
        border-top: 0;
      }
      
      a {
      	color: rgba(white,0.75);
      
        &:hover {
      	  color: #fff;
        }
      }
    }
    
    &.errors { background: $error; }
    &.message { background: $maincolor; }
  }
  
}
