/* ---------------------------------------------------------
	Advanced Search
-----------------------------------------------------------*/

.info-container {
  position: relative;
  margin-left: 20px;
  @include calc('width','100% - 65px');
  z-index: 999;
}

.search-input {
  display: block;
  position: relative;
  width: 100%;
  height: 48px;
  top: 5px;
  padding: 10px 20px 10px 45px;
  background: white url(../assets/search.svg) no-repeat 20px center;
  background-size: 15px 15px;
  @include borderradius(2px);
  border: 1px solid rgba(black,0.1);
  line-height: 28px;
  font-size: 16px;
  color: lighten($textcolor,20%);

  &:after {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    right: 20px;
    width: 10px;
    height: 10px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: transparent rgba(black,0.35) rgba(black,0.35) transparent;
    margin-top: -6px;
    @include transform(rotate(45deg));
  }
}

.search-bar {
  display: block;
  position: relative;
  width: 100%;
  height: 48px;
  top: 5px;

  input[type="text"] {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 20px 10px 45px;
    background: white url(../assets/search.svg) no-repeat 20px center;
    background-size: 15px 15px;
    border: 2px solid transparent;
    @include borderradius(2px);
    line-height: 26px;
    font-size: 16px;
    color: lighten($textcolor,20%);
    
    @include transition(all 350ms ease);
    
    + input[type="submit"] {
      display: block;
      position: absolute;
      right: 10px;
      top: 10px;
      border: 0;
      @include borderradius(1px);
      background: $primary;
      color: white;
      font-size: 11px;
      text-transform: uppercase;
      font-weight: 600;
      height: 28px;
      line-height: 28px;
      padding: 0 12px;
      cursor: pointer;
      @include opacity(0);
      @include transition(all 350ms ease);
      
      &:hover {
        background: darken($primary,15%);
      }
    }

    &:focus {
      color: $textcolor;
      
      + input[type="submit"] {
        @include opacity(100);
      }
    }
  }
  
  .advanced-click {
    position: absolute;
    top: 9px;
    right: 15px;
    width: 30px;
    height: 30px;
    z-index: 999;
    
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 15px;
      right: 9px;
      width: 10px;
      height: 10px;
      border-width: 0 1px 1px 0;
      border-style: solid;
      border-color: transparent rgba(black,0.35) rgba(black,0.35) transparent;
      margin-top: -6px;
      @include transform(rotate(45deg));
      @include transition(all 350ms ease);
    }

    &.open:after {
      top: 18px;
      @include transform(rotate(225deg));
    }
  }
  
}

.advanced {
  display: block;
  width: 100%;
  padding: 20px;
  border-top: 1px solid darken(white,5%);
  background: darken(white,3%);
  position: absolute;
  top: 51px;
  left: 0;
  @include borderradius(0 0 2px 2px);
  @include boxshadow(0 2px 3px rgba(black,0.2));
  @include opacity(0);
  visibility: hidden;
  @include transition(all 350ms ease);
  
  &.open {
    visibility: visible;
    @include opacity(100);
  }
  
  .row {
    margin: 0 0 10px 0;
  }
  
  .selector,
  .operator, 
  .input,
  .remove {
    display: inline-block;
    float: left;
    width: 220px;
    margin-right: 10px;
  }
  
  .operator {
    width: 140px;
  }
  
  .input {
    @include calc('width','100% - 405px');
    
    .date {
      display: inline-block;
      float: left;
      @include calc('width','50% - 20px');
    }
    
    .thru {
      display: inline-block;
      float: left;
      width: 40px;
      height: 32px;
      line-height: 32px;
      color: lighten($textcolor,30%);
      text-align: center;
    }
  }

  .remove {
    width: 15px;
    margin-right: 0;
    
    a {
      display: block;
      position: relative;
      margin-top: 9px;
      height: 15px;
      width: 15px;
      background: transparent url(../assets/remove.svg) no-repeat center center;
      background-size: 15px 15px;
      @include opacity(80);
      @include transition(all 350ms ease);
      overflow: hidden;
      text-decoration: none;
      text-indent: -9000px;
      
      &:hover {
        @include opacity(100);
      }
    }
  }

  .add-row {
    
    a {
      display: block;
      position: relative;
      margin-top: 9px;
      height: 15px;
      line-height: 17px;
      background: transparent url(../assets/add.svg) no-repeat left center;
      background-size: 15px 15px;
      @include opacity(80);
      @include transition(all 350ms ease);
      overflow: hidden;
      text-decoration: none;
      padding-left: 24px;
      color: $linkcolor;
      font-weight: 300;
      
      &:hover {
        @include opacity(100);
      }
    }
  }
  
  .centered {
    text-align: center;
    position: relative;
    
    &.last {
      margin: 0;
    }
    
    .note {
    	display: inline-block;
    	position: absolute;
    	top: 50%;
    	right: 0;
    	margin-top: -9px;
    	
    	input { 
      	display: inline-block;
      	margin-right: 4px;
    	}
    	
    	label {
      	display: inline-block;
      	text-transform: inherit;
        font-size: 11px;
      	color: lighten($textcolor,30%);
    	}
  	}
  }
}

.placeholder {
  color: #a9a9a9; 
}
