$testcolor: #7F8C8D;

.faded { 
  padding: 10px 0;
  font-size: 11px;
  text-align: center;
  color: rgba($testcolor,0.25); 
  background: rgba($testcolor,0.1); 
}

a.deleteAll {
  float: right;
  margin-right: 30px;
  
  &:before {
    font-family: 'icomoon';
    content: '\e117';
    margin-right: 5px;
  }
}

header { background: $testcolor; }
nav { background: lighten($testcolor,35%); }
nav + #main { background: lighten($testcolor,42%); }
footer { background: $testcolor; }
body { background: lighten($testcolor,35%); } // Makes body same as nav so there is continuity in background on larger screens.

header h1 {
  display: inline-block;
  margin: 0;
  color: white;
  font-weight: 100;
  font-size: 24px;
  line-height: $headerh;
}

.syntaxhighlighter {
  padding: 20px 0;
  border: 1px solid #eee;
}

.syntaxhighlighter .toolbar { 
  display: none; 
}

section {
  width: 100%;
  margin: 0 0 2px 0;
  background: white;
  @include borderradius(2px);
  @include boxshadow(0 1px 1px 1px rgba(0,0,0,0.15));
  padding: 0 25px 25px 25px; 
  @extend %clearfix;
  
  &.first { 
    margin-top: 25px; 
  }

  h1.section-head {
    font-size: 20px;
    font-weight: 300;
  	padding: 20px 25px 15px 25px;
  	margin: 0 -25px 15px -25px;
  	border-bottom: 1px solid #e6e6e6;
  }

  h1.headings {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .code {
    margin: 20px 0 0 0;
    padding: 10px 0 0 0;
    border-top: 1px solid #eee;
    
    h2 {
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}
