@function tint($color, $percentage) {
  @return mix($color, white, $percentage);
}

@function shade($color, $percentage) {
  @return mix($color, black, $percentage);
}


// Colors //

$maincolor:     #79ca32;
$darkcolor:     #212f36;

$bannerbg:      #1b2634;
$bannercolor:   white;
                
$title:         $bannerbg;
$textcolor:     #333333;
$labelcolor:    #666666;
$grey:          #eeeeee;
                
$primary:       $maincolor; 
$secondary:     $maincolor;
                
$linkcolor:     $maincolor;
$linkhover:     shade($linkcolor,2%);
                
$leftnav:       $textcolor;
$leftnavhover:  shade($leftnav,2%);
$active:        $maincolor;

$border:        #e8e8e8;                
$required:      $maincolor;
$error:         #C1272D;
$success:       $maincolor;
                
$accent-mid:    #444444;


// Fonts //

$font-family-base:  'museo_sans', arial !default;

// Dimensions //

$headerh:     95px;
$profileh:    180px;
$tabh:        45px;
