@import '_partials/variables';
@import '_partials/fonts';
@import '_partials/base';
@import '_partials/mixins';
@import '_partials/layout';
@import '_partials/navigation';
@import '_partials/type';

@import '_partials/buttons';
@import '_partials/notifications';
@import '_partials/forms';
@import '_partials/tables';

@import '_partials/mediaqueries';

@import '_partials/temp'; // REMOVE ON PRODUCTION!!!! //


body {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	font-family: $font-family-base;
	font-size: $font-size-base;
	font-weight: 300;
	line-height: $line-height-computed;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	min-width: 1024px;
	height: 100%;
	overflow-y: hidden;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  outline: none;
  color: $linkcolor;
  
  &:hover {
    text-decoration: none;
    color: $linkhover;
  }
}

:focus {
  outline: -webkit-focus-ring-color auto 0 !important;
}

.pull-left { float: left; }
.pull-right { float: right; }


hr { 
  border: 0;
  height: 0;
  border-top: 1px solid $grey; 
  margin: 20px 0 10px 0;
}

